@import './_variables.scss';

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main-title {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-weight: $font-weight-semibold;
}
.light-text {
  color: $color-light;
}
.dark-text {
  color: $color-dark;
}

.card-title {
  font-size: 12px;
  color: $color-dark-gray;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: $font-weight-bold;
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: 1.6rem;
  }
}
